<div class="card my-4 mx-3">
    <a class="nav-link" routerLink="/books/{{item._id}}"><img src="{{item.image}}" class="card-img-top" alt="..."></a>
    <div class="card-body text-center">
      <a class="nav-link" routerLink="/books/{{item._id}}">  <h5 class="card-title">{{item.title}}</h5></a>
      <a class="nav-link" routerLink="/author/{{item.authorId}}">  <p class="card-title">by {{item.authorId}}</p></a>
      <mat-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged({rating : $event})"></mat-star-rating>
      <a class="nav-link" routerLink="/category/{{item.catId}}">  <p class="card-title">{{item.catId}}</p></a>
      <p class="card-title">{{item.description}}</p>
      <select>
        <option disabled selected>Status</option>
        <option>Want to Read</option>
        <option>Reading</option>
        <option></option>
      </select>
    </div>
  </div>

