<div class="mb-3 row">
  <label for="firstName" class="col-3 col-form-label">First Name</label>
  <div class="col-6">
    <input type="text"  class="form-control" id="firstName" value="">
  </div>
</div>

<div class="mb-3 row">
  <label for="lastName" class="col-3 col-form-label">Last Name</label>
  <div class="col-6">
    <input type="text"  class="form-control" id="lastName" value="">
  </div>
</div>

<div class="mb-3 row">
  <label for="formFile" class="col-3 col-form-label">Photo</label>
  <div class="col-6">
    <input class="form-control" type="file" id="formFile">
  </div>
</div>

<div class="mb-3 row">
  <label for="date" class="col-3 col-form-label">First Name</label>
  <div class="col-6">
    <input id="date" class="form-control" type="date" />
  </div>
</div>


<div class="mb-3 row text-center">
  <div class="col-12">
    <button  class="btn btn-primary mb-3" (click)= "addAuthor()">Add</button>
  </div>
</div>