section
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.register-form
{
    max-width: 30%;
    padding: 40px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    transition: width .5s;


}

.register-form button
{
    margin: auto;
    display: block;
}

label
{
    text-transform: capitalize;
}
