section
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.register-form
{
    max-width: 40%;
    padding: 40px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    transition: width .5s;


}

.register-form button
{
    margin: auto;
    display: block;
    min-width: 7em;
}

label
{
    text-transform: capitalize;
}

.image-preview-container
{
    max-width: 15em;
    border-radius: 8px;
    padding: 25px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    margin: 8px auto;
}

.image-preview-container img
{
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  padding: 0px;
  border-radius: 10px;
}
