<div class="container d-flex flex-wrap justify-content-center mt-4">
  <a class="nav-link col-xl-3 col-md-6" routerLink="/author-details">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" routerLink="/author-details">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" routerLink="/author-details">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" routerLink="/author-details">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" routerLink="/author-details">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" routerLink="/author-details">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" routerLink="/author-details">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" routerLink="/author-details">
    <app-card></app-card>
  </a>
 
</div>
