<div class="card ">
  <a class="nav-link" routerLink="/books/{{book._id}}"><img style="height: 12rem" src="{{book.image}}" class="card-img-top" alt="..."></a>
  <div class="card-body text-center">
    <a class="nav-link" routerLink="/books/{{book._id}}">  <h5 class="card-title">{{book.title}}</h5></a>
    <a class="nav-link" [(ngModel)]="book.authorId._id" routerLink="/author/{{book.authorId._id}}">  <p class="card-title">by {{book.authorId.name}}</p></a>
    <mat-star-rating class="nav-link" [rating]="book.rating.rate" [color]="starColor" ></mat-star-rating>
    <!--      <p>Your Rating</p>-->
    <!--      <mat-star-rating [rating]="book.rating.rate" [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged({rating : $event})"></mat-star-rating>-->
    <a class="nav-link" routerLink="/category/{{book.catId._id}}">  <p class="card-title">{{book.cateId.name}}</p></a>
    <p class="card-title">{{ book.description | slice:0:20 }}...</p>
    <select #status  [(ngModel)]="selectedStatus" class="form-select">
      <option value="0" disabled selected>Status</option>
      <option [attr.selected]="selectedStatus == 1 ? true : null"  value="1">Want to Read</option>
      <option [attr.selected]="selectedStatus == 2 ? true : null" value="2">Reading</option>
      <option [attr.selected]="selectedStatus == 3 ? true : null" value="3">Done</option>
    </select>
    <a class="nav-link link-primary" routerLink="/books/{{book._id}}">See More Details</a>
  </div>
</div>
