<!--<head>-->
<!--  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--</head>-->

<div class="container d-flex flex-wrap justify-content-center mt-4">
<!--  <app-book-card class="col-xl-3 col-md-6" [book]=book ></app-book-card>-->
  <div class="card ">
    <a class="nav-link" routerLink="/books/{{book._id}}"><img style="height: 12rem" src="http://localhost:9000/{{book.image}}" class="card-img-top" alt="..."></a>
    <div class="card-body text-center">
      <a class="nav-link" routerLink="/books/{{book._id}}">  <h5 class="card-title">{{book.title}}</h5></a>
      <a class="nav-link" [(ngModel)]="authorId" routerLink="/author/{{book.authorId}}">  <p class="card-title">by {{book.authorId.name}}</p></a>
      <mat-star-rating class="nav-link" [rating]="book.rating.rate" [color]="starColor" ></mat-star-rating>
      <!--      <p>Your Rating</p>-->
      <!--      <mat-star-rating [rating]="book.rating.rate" [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged({rating : $event})"></mat-star-rating>-->
      <a class="nav-link" routerLink="/category/{{book.catId}}">  <p class="card-title">{{book.cateId.name}}</p></a>
      <select #status  [(ngModel)]="selectedStatus" class="form-select">
        <option value="0" disabled selected>Status</option>
        <option [attr.selected]="selectedStatus == 1 ? true : null"  value="1">Want to Read</option>
        <option [attr.selected]="selectedStatus == 2 ? true : null" value="2">Reading</option>
        <option [attr.selected]="selectedStatus == 3 ? true : null" value="3">Done</option>
      </select>
    </div>
  </div>

</div>
<h1>Book Description</h1>
<h5 class="mt-2 ms-4 text-muted">{{book.description}}</h5>
<h1>Add your Review</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-body bg-light" style="height: 18rem"><!--well well-sm -------------------- card card-body bg-light-->
        <div class="row" >
          <div class="col-md-12">
            <form accept-charset="UTF-8" action="" method="post">
              <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
              <div class="text-right">
                <div>
                  <mat-star-rating [rating]="userRating" [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged({rating : $event})"></mat-star-rating>
                  <button class="btn btn-danger btn-md" type="submit">Cancel</button>
                  <button class="btn btn-success btn-md ms-2" type="submit">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="mt-2">Book Reviews</h1>

<div class="container d-flex justify-content-center mt-2">
<!--<p class="mr-4">Your Rating</p>-->
<!--<div>-->
<!--  <mat-star-rating  [rating]="book.rating.rate" [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged({rating : $event})"></mat-star-rating>-->
<!--</div>-->
  <div class="container border">
    <div *ngFor="let review of reviews">
    <app-review  [review]=review></app-review>
    <hr>
    </div>
  </div>
</div>
