<!-- <app-spinner *ngIf="isLoading"></app-spinner> -->

<div class="container-fluid">
    <div class="masthead row mt-lg-0">
        <div class="my-auto col-xl-6">
            <h1>Goodreads</h1>
            <h2 class="mx-lg-5 mt-5">"Today a reader, tomorrow a leader"</h2>
        </div>
        <div class="col-xl-6">
            <img class="img-fluid" src="https://img.freepik.com/free-vector/tiny-woman-sitting-huge-book-flat-vector-illustration_74855-5946.jpg?w=740&t=st=1680374621~exp=1680375221~hmac=f731f932056ebeee29177bc3a4fef8bb4e9b77cbfa40f0182251b6046f9ee12a" alt="">
        </div>
    
    </div>
    
    <div class="container p-5">
        <app-popular_books></app-popular_books>
       <app-popular_authors></app-popular_authors>
       <!-- <app-popular_categories></app-popular_categories> -->
    </div>
</div>
