<section class="container">
  <form class="reset-form" #regForm="ngForm">
    <div ngModelGroup="passwords" #passwords="ngModelGroup" passwordMatchChecker class="row">
      <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input  type="email" class="form-control" id="email" aria-describedby="emailHelp" name = "email"
            required pattern ="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" #userEmail="ngModel"  [(ngModel)]="claimAccount.email">

        <div *ngIf="userEmail.errors && ( userEmail.touched)" class="alert alert-danger">
          <small   *ngIf="userEmail.errors?.['required']">email is required</small>
          <small   *ngIf="userEmail.errors?.['pattern']">Please provide a valid email address</small>
        </div>
      </div>


      <div class="mb-3 form-group col-6">
        <label for="userPassword" class="form-label">password</label>
        <input type="password" class="form-control" id="userPassword" name="userPass"
            required #userPass="ngModel" [(ngModel)]="claimAccount.password" >

        <div *ngIf="userPass.errors?.['required'] && (userPass.touched)"  class="alert alert-danger">
          Password is required.
        </div>
      </div>

      <div class="mb-3 form-group col-6">
        <label for="userPassConfiorm" class="form-label">retype password</label>
        <input type="password" class="form-control" id="userPassConfiorm" name="userPassConfiorm"
            required #passConfiorm="ngModel" [(ngModel)]="claimAccount.passwordConform" >

        <div *ngIf="passConfiorm.invalid && (userPass.dirty || userPass.touched)" class="alert alert-danger">
          Please confirm your password.
        </div>

        <div *ngIf="passwords.errors?.['passwordCheck'] && (passConfiorm.dirty || passConfiorm.touched)" class="alert alert-danger">
          Passwords do not match.
        </div>
      </div>


      <div class="mb-3">
        <label for="secretQuestion" class="form-label">secret question</label>
        <input type="text" class="form-control" id="secretQuestion" aria-describedby="secretQuestion" name="secretQuestion"
            required #secretQuestion="ngModel"  [(ngModel)]="claimAccount.secretQuestion" >

        <div *ngIf="secretQuestion.errors?.['required'] && (secretQuestion.touched)"  class="alert alert-danger">
          secret question is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="secretAnswer" class="form-label">secret answer</label>
        <input type="text" class="form-control" id="secretAnswer" aria-describedby="firstName" name="secretAnswer"
            required #secretAnswer="ngModel"  [(ngModel)]="claimAccount.secretAnswer" >
        <div *ngIf="secretAnswer.errors?.['required'] && (secretAnswer.touched)"  class="alert alert-danger">
          secret answer is required.
        </div>
      </div>

      <div *ngIf="isAccountFound == false"  class="alert alert-danger">
        Sorry, There is no account associated with that email
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="resetUserPass()" [disabled]="regForm.invalid">Reset</button>
  </form>

</section>

