<div class="row justify-content-center border border-info rounded p-3">
  <h2 class="fw-bold text-danger m-0 px-4">Popular Categories</h2>
  <a class="nav-link col-xl-3 col-md-6" [routerLink]="'/categories/10'">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" [routerLink]="'/categories/10'">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" [routerLink]="'/categories/10'">
    <app-card></app-card>
  </a>
  <a class="nav-link col-xl-3 col-md-6" [routerLink]="'/categories/10'">
    <app-card></app-card>
  </a>
</div>

