<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://s.gr-assets.com/assets/layout/header/goodreads_logo.svg" width="125px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">home</a>
        <a class="nav-link" routerLink="/books" routerLinkActive="active" href="#">books</a>
        <a class="nav-link" routerLink="/authors" routerLinkActive="active" href="#">authors</a>
        <a class="nav-link" routerLink="/categories" routerLinkActive="active">categories</a>
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">about us</a>
        <a class="nav-link" routerLink="/team-and-condations" routerLinkActive="active">teams & condations</a>
        
        <a *ngIf="isLogedIn == false; else logOut " class="login-button" routerLink="/login" routerLinkActive="active">
          <span  class="login-button-text">login</span>
        </a>

        <ng-template #logOut class="login-button" >
          <a class="login-button" routerLink="/login" routerLinkActive="active">
            <span  class="login-button-text">logout</span>
          </a>
        </ng-template>


        <a [hidden]="isLogedIn == true" class="register-button" routerLink="/register" routerLinkActive="active">
          <span class="register-button-text">register</span> 
        </a>
      </div>
    </div>
  </div>
</nav>