<section class="site-categories">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="table-dark">
        <th scope="col">id</th>
        <th></th>
        <th></th>
        <th></th>
        <th scope="col">name</th>
        <th></th>
        <th>
        </th>
        <th scope="col"></th>
        <th>
          <button type="button" class="btn btn-outline-dark add-button" (click)="setAdminAction('add')" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of catList; let bookNum = index">
        <td scope="row">
          <span>{{cat._id}}</span>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{cat.name}}</td>

        <td></td>
        <td></td>
        <td></td>
        <td colspan="1">
          <div class="action-button">
            <button type="button" class="btn btn-outline-dark" (click)="setAdminAction('edit', cat._id )" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn btn-outline-dark" (click)="setAdminAction('remove', cat._id)" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <div [ngSwitch]="adminActions">
            <div *ngSwitchCase='"add"'>
              add category
            </div>
            <div *ngSwitchCase='"edit"'>
              edit category
            </div>
            <div *ngSwitchCase='"remove"'>
              remove category
            </div>
          </div>
        </h5>
        <button #closeButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <div [ngSwitch]="adminActions">
          <div *ngSwitchCase='"add"'>
            <div class="row g-3 ">
              <div class="col-auto">
                <input #cateInput type="text" class="form-control" id="cateName" placeholder="Category Name">
              </div>
              <div class="col-auto">
                <button class="btn btn-primary mb-3" (click)="addCate(cateInput.value)">Add</button>
              </div>
            </div>
          </div>
          <div *ngSwitchCase='"edit"'>
            <div class="row g-3 ">
              <div class="col-auto">
                  <input #updatedCategory  type="text" class="form-control" id="cateUpdte" placeholder="Category Name">
              </div>
              <div class="col-auto">
                  <button #updateButton class="btn btn-primary mb-3" (click)="updateCate(updatedCategory.value)">Update</button>
              </div>
            </div>
          </div>
          <div *ngSwitchCase='"remove"'>
            <div class="row g-3">
              <div class="col-auto delete-alert-message">
                <p>If you are sure you want to delete this category, click delete button</p>
              </div>
              <div class="col-auto button-container">
                  <button class="btn btn-danger mb-auto" (click)="deleteCate()">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Done!</button>
      </div>
    </div>
  </div>
</div>
